<% if not logged_in?   %>
	<div class="center jumbotron">
		<h1>Bienvenido a CouchInn</h1>
		<h2>¿Desea registrarse?</h2>
		<%= link_to "Registrarse", signup_path, class: "btn btn-lg btn-primary" %>
	</div>	
<% else %>
	<h1>Bienvenido a CouchInn</h1>
<% end %>

<table class="table">

	<tr>
		<th> Titulo </th>
		<th> Foto </th>
		<th> Lugar </th>
		<th> Detalles </th>
	</tr>

	<% hospedajes = Hospedaje.all %>
	<% hospedajes.each do |hospedaje| %>
		<% if !hospedaje.borrado %>
		<tr>
			<td> <%= hospedaje.titulo %> </td>
			<%if (hospedaje.user.premium?) %>
				<td> <%= image_tag hospedaje.foto, size: "46x40" %> </td>
			<% else %>
				<td> <%= image_tag 'anonimo.jpg', size: "46x40" %> </td>
			<% end %>
			<td> <%= hospedaje.lugar %> </td>
			<td>
				<%= link_to "Ver", hospedaje %>
			</td>
		</tr>
	<% end %>
	<% end %>
	<% if hospedajes.size == 0 %>
		<tr> <td colspan="3"> No hay hospedajes </td> </tr>
	<% end %>


</table>
<% if logged_in?   %>
	<%= link_to 'Crear Hospedaje', new_hospedaje_path,  class: "btn btn-primary" %>
<% end %>
	<%= link_to 'Buscar Hospedaje', search_path, class: "btn btn-primary" %>