<h1><%= @hospedaje.titulo %></h1>
<%= image_tag @hospedaje.foto %>
<p>Ubicacion: <%= @hospedaje.lugar %></p>
<p>Fecha publicacion: <%= @hospedaje.fecha %></p>
<p>Capacidad personas: <%= @hospedaje.capacidad %></p>
<p>Descripcion: <%=@hospedaje.descripcion %></p>
<p>Tipo: <%= Tipo.find(@hospedaje.tipo_id).nombre %></p>
<p>Usuario: <%= User.find(@hospedaje.user_id).name %></p>




