<%= form_for(@reserva) do |f| %>
  <% if @reserva.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@tipo.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% @reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
    <% end %>
<p>Hospedaje : <%= Hospedaje.find(params[:format]).titulo %></p>
<p>Capacidad : <%= Hospedaje.find(params[:format]).capacidad %></p>
<%= image_tag Hospedaje.find(params[:format]).foto %>

 <div class="field">
 
   <%= f.hidden_field :hospedaje_id, :value => params[:format]%>
  <%= f.label :desde, 'Desde' %>
  <%= f.date_select :desde, start_year: 2015,end_year: 2050 %>
  </div>
 <div class="field">

  <%= f.label :hasta, 'Hasta' %>
  <%= f.date_select :hasta, start_year: 2015,end_year: 2050 %>
 </div >
   
  <%= f.submit "Solicitar Reserva", class: "btn btn-primary" %>
 
<p></p>
<% end %>
