<table class="table">
<h1> Listado de Mis Reservas </h1>

	<tr>
		<th> Estado </th>
		
		<th> Hospedaje  </th>
		<th> Detalles </th>

		<th> Desde </th>
		<th> Hasta </th>
		<th> Eliminar </th>
		<th> Contacto </th>

	</tr>

	
	<% @reservas.each do |r| %>
		<tr>
		 <% if r.user_id == current_user.id %>
		 	<% if r.aceptado %>
				<td> Aceptado </td>
			<% else %>
				<td> Rechazado </td>
			<% end %>
			
			<td> <%= r.hospedaje.titulo %> </td>
			<td>
				<%= link_to "Ver", r %>
			</td>
			<td> <%= r.desde %> </td>
			<td> <%= r.hasta %> </td>
			<td><%= link_to "Eliminar", r,method: :delete %>
			</td>
			<% if r.aceptado %>
				<td> <%= User.find(r.hospedaje.user_id).email %> </td>
			<% else %>
				<td> La informacion de Contacto aparecera una vez aceptada la reserva </td>
			<% end %>
		</tr>
		<% end %>
	<% end %>
 </table>