

<p> Hospedaje id: <%= @reserva.hospedaje_id %></p>
<p>User id: <%= @reserva.user_id %></p>

<p>Hospedaje : <%= Hospedaje.find(@reserva.hospedaje_id).titulo %></p>
<p>Capacidad : <%= Hospedaje.find(@reserva.hospedaje_id).capacidad %></p>
<%= image_tag Hospedaje.find(@reserva.hospedaje_id).foto %>


<p>Estado: <%= @reserva.aceptado %></p>

