

<p> Hospedaje id: <%= @reserva.hospedaje_id %></p>
<p>User id: <%= @reserva.user_id %></p>

<p>Hospedaje : <%= @reserva.hospedaje.titulo %></p>
<p>Capacidad : <%= @reserva.hospedaje.capacidad %></p>
<%= image_tag @reserva.hospedaje.foto %>


<p>Estado: <%= @reserva.aceptado %></p>

