<li	id="user_feedbacks-<%= user_feedback.id %>">
		
		<span class="user"><%= link_to user_feedback.user.name, user_feedback.user %></span>
		
		<span class="content">Puntaje: <%= user_feedback.score %></span>
		<span class="content">Calificacion: "<%= user_feedback.content %>"</span>
		<span class="timestamp">
			Calificacion hecha hace	<%=	time_ago_in_words(user_feedback.created_at)	%>.
		</span>
</li>