<table class="table">

	<tr>
		<th> Titulo </th>
		<th> Foto </th>
		<th> Lugar </th>
		<th> Detalles </th>
		<th> Eliminar </th>
	</tr>


	<% @hospedajes.each do |hospedaje| %>
		<% if !hospedaje.borrado %>
		<tr>
			<td> <%= hospedaje.titulo %> </td>
			<%if (hospedaje.user.premium?) %>
				<td> <%= image_tag hospedaje.foto, size: "46x40" %> </td>
			<% else %>
				<td> <%= image_tag 'anonimo.jpg', size: "46x40" %> </td>
			<% end %>
			<td> <%= hospedaje.lugar %> </td>
			<td>
				<%= link_to "Ver", hospedaje %>
			</td>
			<td>
				<%= link_to "Borrar", hospedaje, method: :delete %>
			</td>
		</tr>
	<% end %>
	<% end %>
	<% if @hospedajes.size == 0 %>
		<tr> <td colspan="3"> Todavia no tenes hospedajes publicados </td> </tr>
	<% end %>
