<%provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
       <h1>
	<%= @user.name %>

       </h1>
     </section>
  </aside>
  <div class="col-md-8">
		
			<h3>Calificaciones (<%= @user_feedbacks.count %>)</h3>
			<ol	class="user_feedbacks">								
				<%= render @user_feedbacks %>
			</ol>
			<%= will_paginate @user_feedbacks %>
		
	</div>
</div>
<div class="field">
<%= link_to "Calificar", new_user_feedback_path(@user.id), class: "btn btn-primary" %>
<p> <%= link_to "Mis Reservas Solicitadas", controller: "reservas", action: "index" , class: "btn btn-primary" %> </p>
<p> <%= link_to "Hospedajes Publicados", controller: "users", action: "hospedajes", class: "btn btn-primary" %> </p>
<p> <%= link_to "Lugares donde me hospede", controller: "reservas", action: "index_hospedajes", class: "btn btn-primary" %> </p>

</div>


