<% if current_user.admin? && logged_in? %>
	<p>
 	<strong>Nombre:</strong>
  	<%= @tipo.nombre %>
  	<p>

	<p> Disponible: <%= @tipo.disponible%></p>
	<p> --------</p>

	<%@tipo.hospedajes.order(:id).each do |hospedaje|%>
		<p><%= link_to hospedaje.titulo, hospedaje %></p>
		<%= image_tag hospedaje.foto %>
		<p>Ubicacion: <%= hospedaje.lugar %></p>
		<p>Fecha publicacion: <%= hospedaje.fecha %></p>
		<p>Capacidad personas: <%= hospedaje.capacidad %></p>
		<p>Descripcion:<%= hospedaje.descripcion %></p>
		

    <%end%>

	</p>

	<%= link_to 'Editar', edit_tipo_path(@tipo), class: "btn btn-primary" %>
 	&nbsp

<% else %>
	<h1>No tiene permisos</h1>

<% end %>
<%= link_to 'Volver', tipos_path , class: "btn btn-primary"%>
