<% provide(:title, "Mejorar cuenta")	%>
<h1>Actualice su cuenta a premium</h1>
<div class="row">
		<div class="col-md-6 col-md-offset-3">
				<%= form_for(@credit_card) do |f| %>
						<%=	render 'shared/error_messages'	%>
						<h3>Para mejorar su cuenta debera ingresar los digitos de su tarjeta de credito</h3>
						<h3>El costo es de $10 abonados una unica vez.</h3>
						<h3>Sus beneficios, todas las publicaciones tendran una foto real adosada en la busqueda.</h3>
						<%=	f.label :Nombre_del_titular %>
						<%=	f.text_field :name, class: 'form-control' %>
						<%=	f.label :Ultimos_4_digitos %>
						<%=	f.text_field :lastfourdigit, class: 'form-control' %>
						<%=	f.label :Direccion %>
						<%=	f.text_field :adress, class: 'form-control' %>
						<%=	f.label :Telefono %>
						<%=	f.text_field :phone, class: 'form-control' %>
						<%=	f.label :Tarjeta_de_credito %>
						<%=	f.text_field :credit_card, class: 'form-control' %>
						<%=	f.submit "Deseo mejorar mi cuenta a premium", class: "btn btn-primary" %>
				<% end %>
		</div>
</div>
